.homepage-container {
    padding: 0 5%;
    padding-top: 10%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.homepage-navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    /* overflow: hidden; */
}

.navbar-navigation {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 10%;
}

.navigation-button {
    border: 2px solid green;
    border-radius: 10px;
    color: green;
    width: 50px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage-search {
    display: flex;
    gap: 3%;
}

.search-input {
    display: flex;
    align-items: center;
    border: 2px solid green;
    flex-grow: 1;
    border-radius: 10px;
}

.search-input label {
    padding: 3%;
}

.search-input i {
    color: green;
    font-size: 1.25rem;
}

.search-input input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 1.1rem;
    border-radius: 10px;
}

.search-input input::placeholder {
    color: green;
    opacity: 0.25;
}

.search-input input:focus {
    outline: none;
}

.search-filter {
    background-color: green;
    border-radius: 10px;
    color: white;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage-filter-tags {
    display: flex;
    min-width: fit-content;
    overflow-x: scroll;
    gap: 2%;
}

.homepage-filter-tags::-webkit-scrollbar {
    display: none;
}

.homepage-filter-tags .tag {
    min-width: fit-content;
    /* max-height: 20px; */
    padding: 1% 3%;
    text-align: centers;
    display: flex;
    justify-content: center;
    background-color: white;
    border: 2px solid green;
    border-radius: 10px;
    color: green;
    font-size: 0.9rem;
}

.homepage-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: space-between;
}

.product-card {
    display: flex;
    flex-direction: column;
    width: calc(50% - 2%);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.product-image {
    width: 100%;
    height: 80%;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5%;
}

.product-description span {
    opacity: 0.5;
}