.detail-container{
    padding: 0 5%;
    padding-top: 10%;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo{
    width: 100%;
    height: 60px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 170px;
    height: 40px;
}

.welcome-text{
    height: 50px;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-text p{
    font-size: 1rem;
    font-weight: bold;
    color: black;
}

.form-content{
    margin-top: 15px;
    /* width: px; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline;
}

#loginform{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline;
}

.labels{
    font-size: 13px;
    font-weight:bold;
    box-shadow: 2px;
    display: flex;
    flex-direction: column;
}

.boxes{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid grey;
    box-shadow: 0.5px 0.5px 2px 0.5px grey;   
}

.big-boxes{
    width: 100%;
    height: 120px;
    border-radius: 10px;
    border: 2px solid grey;
    box-shadow: 0.5px 0.5px 2px 0.5px grey;
}

.error{
    font-size: 10px;
    color: red;
}

#usernamebox{
    margin-bottom: 5px;
    width: 100%;
}

#username::placeholder{
    padding-left: 10px;
}

#passwordbox    {
    margin-bottom: 50px;
    width: 100%;
}

#password::placeholder{
    padding-left: 10px;
}

#login-button{
    padding-top: 2px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 1px;
}

#login-button button{
    border: 2px solid green;
    border-radius: 10px;
    background-color: green;
    color: white;
    /* width: 280px; */
    width: 100%;
    height: 35px;
}

#register-button{
    width: 100%;
    height: 35px;
    border: 2px solid green;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#register-button a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#register-button p{
    font-size: 14px;
    color: black;
    text-decoration: none;
}