.detail-container {
    padding: 0 5%;
    padding-top: 10%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* position: relative; */
}

.detail-navigation {
    display: flex;
    align-items: center;
    gap: 5%;
}

.detail-navigation .back-button {
    text-decoration: none;
    border: 2px solid green;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    font-size: 1.5rem;
    border-radius: 10px;
}

.detail-navigation p {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: green;
}

.detail-image-area{
    display: flex;
    justify-content: center;
    position: relative;
}

.detail-image{
    display: flex;
    justify-content: center;
    position: relative;
    scale: 0.8;
    z-index: 2;
}

#image{
    width: 200px;
    height: 200px;
    z-index: 2;
}

#change-icon{
    position: absolute;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    background-image: url(assets/Ubah-Profile/icon.png);
    scale: 0.7;
    bottom: 15%;
    right: 35%;
    z-index: 4;
}

.labels{
    font-size: 13px;
    font-weight: bold;
    box-shadow: 2px;
    display: flex;
    flex-direction: column;
}

.boxes{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid grey;
    box-shadow: 0.5px 0.5px grey;
}

#name-box{
    margin-bottom: 30px;
    width: 100%;
}

#name-box label{
    margin-bottom: 5px;
}

#name-box::placeholder{
    padding-left: 10px;
}

#password{
    margin-bottom: 30px;
    width: 100%;
}

#password::placeholder{
    padding-left: 10px;
}

#save-button{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}

#save-button button{
    border: 2px solid green;
    border-radius: 10px;
    background-color: green;
    color: white;
    width: 100%;
    height: 35px;
}