* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.3);
}

.container {
    max-width: 428px;
    min-height: 100vh;
    background-color: white;
    margin-left: 50%;
    transform: translateX(-50%);
    position: relative;
}

@media screen and (max-width: 428px) {
    .container {
        margin-left: 0;
        transform: translateX(0);
        position: relative;
    }
}